{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}

<div id="loading">
  <img id="loading-image" src="../static/images/loader1.gif" alt="Loading..." />
</div>

<div id="content">
  <div class="position-absolute start-50 translate-middle center">
    <p>
      AI-Powered Academic Research Assistant
    </p>
  </div>


  <form action="/summary" method="POST">
    <div class="messageBox position-fixed top-50 start-50 translate-middle">
      <input required="" placeholder="Enter your query..." type="text" id="messageInput" aria-label="input" name="input"
        value="{{ request.form['input'] }}" />
      <button id="sendButton" type="submit" onclick="loading();">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
          <path fill="none"
            d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888">
          </path>
          <path stroke-linejoin="round" stroke-linecap="round" stroke-width="33.67" stroke="#6c6c6c"
            d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888">
          </path>
        </svg>
      </button>

    </div>
  </form>

  <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="messageBox position-fixed start-50 translate-middle" style="bottom: 35%;">
      <label for="pdf">Upload pdf</label>
      <input class="form-control" id="pdf" name="pdf" type="file" />
      <button class="btn btn-primary" type="submit" onclick="loading();">Upload</button>
    </div>
  </form>

</div>

<!-- <div class="position-absolute top-50 start-50 translate-middle">
  <form action="/summary" method="POST">
    <div class="input-group">
      <input type="text" class="form-control" id="in" placeholder="Enter query" aria-label="input"
        aria-describedby="button-addon2" name="input" value="{{ request.form['input'] }}">
      <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
    </div>
  </form>
</div> -->

<script type="text/javascript">
  function loading() {
    $("#loading").show();
    $("#content").hide();
    $("body").css("background", "black")
    setTimeout(() => console.log("Done"), 5000)
  }
</script>

{% endblock %}