{% extends "base.html" %}

{% block content %}

{% for i in range(3) %}
<div class="position-absolute text-justify start-50 translate-middle w-50 abcd{{i}}">
    <button class="btn btn-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThis"
        aria-expanded="false" aria-controls="collapseThis{{i}}">
        
        {{summary_data[0][i]}}
        
        <!-- Paper Title -->
    </button>
</div>

<div class="position-absolute text-justify top-50 start-50 translate-middle overflow-auto summary collapse w-50"
    id="collapseThis{{i}}">
    {{summary_data[1][i]}}
    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis dolor at aliquet consectetur. Vestibulum
    tortor erat, faucibus eu arcu nec, semper aliquam ligula. Suspendisse commodo ligula nec enim molestie convallis.
    Duis venenatis ullamcorper ultricies. Vivamus ornare dictum sem eu lacinia. Sed feugiat ligula in porttitor lacinia.
    Nam in imperdiet ipsum.

    Aliquam pulvinar, augue in semper mattis, ipsum orci vehicula ante, non accumsan turpis elit vitae ante. Curabitur
    posuere turpis ac sollicitudin ultrices. Donec ornare tellus at enim consequat, vel congue erat consectetur.
    Suspendisse aliquet lorem lorem, nec sollicitudin lectus imperdiet a. Sed finibus risus sed ultricies dignissim.
    Cras a lacus lectus. Phasellus id pulvinar sem.

    Nam id feugiat elit, consequat vulputate tellus. Nulla laoreet, dui a placerat rhoncus, metus odio aliquam nisl, et
    consequat nunc turpis eget erat. Suspendisse mi risus, fringilla sed quam non, tincidunt tincidunt justo. Aliquam
    neque dolor, imperdiet vel aliquet a, iaculis a neque. Phasellus eget dolor ac tortor porttitor convallis sed a
    diam. Praesent tincidunt viverra ipsum. Suspendisse non gravida nisl. Quisque dictum, nulla vel blandit tristique,
    eros neque vulputate lorem, eu ultrices dui metus eu justo. Fusce odio erat, porta a tortor vitae, iaculis laoreet
    erat. Vestibulum suscipit egestas ipsum, quis pretium erat. Nam a lacus et ante faucibus sodales a condimentum diam.
    Cras quis elit metus. Pellentesque fringilla hendrerit nulla ac molestie.

    Integer auctor vitae nisl sed fermentum. Cras posuere tellus sed ultrices lobortis. Maecenas sed lectus ut libero
    mattis commodo. Morbi commodo est erat, eget egestas nulla condimentum in. Aliquam efficitur lacus sed libero porta
    sollicitudin. Nulla dignissim ligula non purus varius, non tincidunt ipsum pellentesque. Maecenas vitae lacus eu
    nunc bibendum tempor. Morbi molestie ex eget risus dictum, non vulputate ipsum blandit. Sed et ex non risus
    vulputate varius vel eget est. Fusce metus erat, lacinia ut ante vel, scelerisque hendrerit magna.

    Proin tincidunt, ante id bibendum pulvinar, ex odio scelerisque ante, ac euismod nibh mauris non mi. Suspendisse
    suscipit ultrices lectus ac malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Morbi rutrum at dui vel auctor. Fusce mauris ligula, luctus eget felis sit amet, sodales auctor
    velit. Phasellus vehicula sem leo. Ut sed varius ligula. Morbi condimentum maximus mi sed ullamcorper.

    Sed eu mattis dolor. Donec vel elit ac orci varius sagittis. Aenean sodales nisi at finibus tempor. Cras
    sollicitudin sodales nunc ac feugiat. Pellentesque ut metus eget mauris hendrerit dictum et sed justo. Praesent
    blandit mi tempus luctus convallis. Praesent ullamcorper blandit malesuada.

    Nullam ligula dolor, consectetur eu nunc nec, tempus sagittis justo. Quisque fringilla elementum magna et dictum.
    Mauris in diam id justo ultrices venenatis pulvinar ut magna. Maecenas hendrerit mi ipsum, fringilla sollicitudin
    lacus tristique ut. Donec quis mauris non felis vestibulum pharetra eget quis massa. In vitae laoreet nisi, vitae
    interdum eros. Donec pharetra tristique consequat. Mauris id nunc venenatis nunc hendrerit eleifend sed vel est.
    Donec vestibulum diam eget feugiat condimentum. Morbi vitae fermentum massa. Phasellus placerat volutpat rhoncus.

    Quisque commodo fermentum scelerisque. Integer tincidunt ante quis odio ultrices convallis. Etiam interdum eros vel
    tellus sodales pretium. Donec ligula nisi, ultrices vitae consectetur quis, ultrices mattis velit. Aenean bibendum
    id tellus ut tincidunt. Phasellus laoreet rhoncus erat pulvinar maximus. Fusce et velit ac mi efficitur aliquam.
    Nulla diam mi, scelerisque eu pulvinar in, consectetur rutrum lectus. Donec feugiat consequat lectus ut dictum. Ut
    lobortis, nisl facilisis tincidunt iaculis, arcu eros aliquet ex, eget lacinia quam nibh vel turpis. Nunc pretium
    urna sem, eu luctus nisl fringilla at. Maecenas justo nibh, tempus vel varius a, finibus at quam.

    Nunc eleifend vitae leo nec placerat. Sed tortor augue, ullamcorper volutpat justo eu, commodo mollis mi. Donec
    commodo et risus et iaculis. In arcu orci, molestie sit amet feugiat viverra, fringilla ut diam. Donec consectetur
    dui sapien, id scelerisque nibh auctor vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi
    luctus arcu a posuere pulvinar.

    Sed condimentum lorem quam, id scelerisque velit egestas sit amet. Duis eu fermentum orci, sit amet mattis ligula.
    Quisque hendrerit felis eget consequat imperdiet. Mauris ultricies libero ut nulla malesuada, dignissim placerat
    nisl hendrerit. Vestibulum ultrices, massa quis mattis bibendum, tellus elit consequat ipsum, fermentum dapibus urna
    felis eget orci. Vestibulum finibus turpis sit amet est tempor pellentesque. Suspendisse in erat sit amet ante
    congue pellentesque ut suscipit tellus. Morbi imperdiet sodales justo, et rhoncus eros iaculis eu. Vivamus porta,
    sapien at posuere aliquam, risus ligula dignissim ipsum, et sagittis tortor sapien non sem. Sed nisl magna, semper
    id urna dignissim, vehicula facilisis ipsum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis dolor at aliquet consectetur. Vestibulum
    tortor erat, faucibus eu arcu nec, semper aliquam ligula. Suspendisse commodo ligula nec enim molestie convallis.
    Duis venenatis ullamcorper ultricies. Vivamus ornare dictum sem eu lacinia. Sed feugiat ligula in porttitor lacinia.
    Nam in imperdiet ipsum.

    Aliquam pulvinar, augue in semper mattis, ipsum orci vehicula ante, non accumsan turpis elit vitae ante. Curabitur
    posuere turpis ac sollicitudin ultrices. Donec ornare tellus at enim consequat, vel congue erat consectetur.
    Suspendisse aliquet lorem lorem, nec sollicitudin lectus imperdiet a. Sed finibus risus sed ultricies dignissim.
    Cras a lacus lectus. Phasellus id pulvinar sem.

    Nam id feugiat elit, consequat vulputate tellus. Nulla laoreet, dui a placerat rhoncus, metus odio aliquam nisl, et
    consequat nunc turpis eget erat. Suspendisse mi risus, fringilla sed quam non, tincidunt tincidunt justo. Aliquam
    neque dolor, imperdiet vel aliquet a, iaculis a neque. Phasellus eget dolor ac tortor porttitor convallis sed a
    diam. Praesent tincidunt viverra ipsum. Suspendisse non gravida nisl. Quisque dictum, nulla vel blandit tristique,
    eros neque vulputate lorem, eu ultrices dui metus eu justo. Fusce odio erat, porta a tortor vitae, iaculis laoreet
    erat. Vestibulum suscipit egestas ipsum, quis pretium erat. Nam a lacus et ante faucibus sodales a condimentum diam.
    Cras quis elit metus. Pellentesque fringilla hendrerit nulla ac molestie.

    Integer auctor vitae nisl sed fermentum. Cras posuere tellus sed ultrices lobortis. Maecenas sed lectus ut libero
    mattis commodo. Morbi commodo est erat, eget egestas nulla condimentum in. Aliquam efficitur lacus sed libero porta
    sollicitudin. Nulla dignissim ligula non purus varius, non tincidunt ipsum pellentesque. Maecenas vitae lacus eu
    nunc bibendum tempor. Morbi molestie ex eget risus dictum, non vulputate ipsum blandit. Sed et ex non risus
    vulputate varius vel eget est. Fusce metus erat, lacinia ut ante vel, scelerisque hendrerit magna.

    Proin tincidunt, ante id bibendum pulvinar, ex odio scelerisque ante, ac euismod nibh mauris non mi. Suspendisse
    suscipit ultrices lectus ac malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Morbi rutrum at dui vel auctor. Fusce mauris ligula, luctus eget felis sit amet, sodales auctor
    velit. Phasellus vehicula sem leo. Ut sed varius ligula. Morbi condimentum maximus mi sed ullamcorper.

    Sed eu mattis dolor. Donec vel elit ac orci varius sagittis. Aenean sodales nisi at finibus tempor. Cras
    sollicitudin sodales nunc ac feugiat. Pellentesque ut metus eget mauris hendrerit dictum et sed justo. Praesent
    blandit mi tempus luctus convallis. Praesent ullamcorper blandit malesuada.

    Nullam ligula dolor, consectetur eu nunc nec, tempus sagittis justo. Quisque fringilla elementum magna et dictum.
    Mauris in diam id justo ultrices venenatis pulvinar ut magna. Maecenas hendrerit mi ipsum, fringilla sollicitudin
    lacus tristique ut. Donec quis mauris non felis vestibulum pharetra eget quis massa. In vitae laoreet nisi, vitae
    interdum eros. Donec pharetra tristique consequat. Mauris id nunc venenatis nunc hendrerit eleifend sed vel est.
    Donec vestibulum diam eget feugiat condimentum. Morbi vitae fermentum massa. Phasellus placerat volutpat rhoncus.

    Quisque commodo fermentum scelerisque. Integer tincidunt ante quis odio ultrices convallis. Etiam interdum eros vel
    tellus sodales pretium. Donec ligula nisi, ultrices vitae consectetur quis, ultrices mattis velit. Aenean bibendum
    id tellus ut tincidunt. Phasellus laoreet rhoncus erat pulvinar maximus. Fusce et velit ac mi efficitur aliquam.
    Nulla diam mi, scelerisque eu pulvinar in, consectetur rutrum lectus. Donec feugiat consequat lectus ut dictum. Ut
    lobortis, nisl facilisis tincidunt iaculis, arcu eros aliquet ex, eget lacinia quam nibh vel turpis. Nunc pretium
    urna sem, eu luctus nisl fringilla at. Maecenas justo nibh, tempus vel varius a, finibus at quam.

    Nunc eleifend vitae leo nec placerat. Sed tortor augue, ullamcorper volutpat justo eu, commodo mollis mi. Donec
    commodo et risus et iaculis. In arcu orci, molestie sit amet feugiat viverra, fringilla ut diam. Donec consectetur
    dui sapien, id scelerisque nibh auctor vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi
    luctus arcu a posuere pulvinar.

    Sed condimentum lorem quam, id scelerisque velit egestas sit amet. Duis eu fermentum orci, sit amet mattis ligula.
    Quisque hendrerit felis eget consequat imperdiet. Mauris ultricies libero ut nulla malesuada, dignissim placerat
    nisl hendrerit. Vestibulum ultrices, massa quis mattis bibendum, tellus elit consequat ipsum, fermentum dapibus urna
    felis eget orci. Vestibulum finibus turpis sit amet est tempor pellentesque. Suspendisse in erat sit amet ante
    congue pellentesque ut suscipit tellus. Morbi imperdiet sodales justo, et rhoncus eros iaculis eu. Vivamus porta,
    sapien at posuere aliquam, risus ligula dignissim ipsum, et sagittis tortor sapien non sem. Sed nisl magna, semper
    id urna dignissim, vehicula facilisis ipsum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis dolor at aliquet consectetur. Vestibulum
    tortor erat, faucibus eu arcu nec, semper aliquam ligula. Suspendisse commodo ligula nec enim molestie convallis.
    Duis venenatis ullamcorper ultricies. Vivamus ornare dictum sem eu lacinia. Sed feugiat ligula in porttitor lacinia.
    Nam in imperdiet ipsum.

    Aliquam pulvinar, augue in semper mattis, ipsum orci vehicula ante, non accumsan turpis elit vitae ante. Curabitur
    posuere turpis ac sollicitudin ultrices. Donec ornare tellus at enim consequat, vel congue erat consectetur.
    Suspendisse aliquet lorem lorem, nec sollicitudin lectus imperdiet a. Sed finibus risus sed ultricies dignissim.
    Cras a lacus lectus. Phasellus id pulvinar sem.

    Nam id feugiat elit, consequat vulputate tellus. Nulla laoreet, dui a placerat rhoncus, metus odio aliquam nisl, et
    consequat nunc turpis eget erat. Suspendisse mi risus, fringilla sed quam non, tincidunt tincidunt justo. Aliquam
    neque dolor, imperdiet vel aliquet a, iaculis a neque. Phasellus eget dolor ac tortor porttitor convallis sed a
    diam. Praesent tincidunt viverra ipsum. Suspendisse non gravida nisl. Quisque dictum, nulla vel blandit tristique,
    eros neque vulputate lorem, eu ultrices dui metus eu justo. Fusce odio erat, porta a tortor vitae, iaculis laoreet
    erat. Vestibulum suscipit egestas ipsum, quis pretium erat. Nam a lacus et ante faucibus sodales a condimentum diam.
    Cras quis elit metus. Pellentesque fringilla hendrerit nulla ac molestie.

    Integer auctor vitae nisl sed fermentum. Cras posuere tellus sed ultrices lobortis. Maecenas sed lectus ut libero
    mattis commodo. Morbi commodo est erat, eget egestas nulla condimentum in. Aliquam efficitur lacus sed libero porta
    sollicitudin. Nulla dignissim ligula non purus varius, non tincidunt ipsum pellentesque. Maecenas vitae lacus eu
    nunc bibendum tempor. Morbi molestie ex eget risus dictum, non vulputate ipsum blandit. Sed et ex non risus
    vulputate varius vel eget est. Fusce metus erat, lacinia ut ante vel, scelerisque hendrerit magna.

    Proin tincidunt, ante id bibendum pulvinar, ex odio scelerisque ante, ac euismod nibh mauris non mi. Suspendisse
    suscipit ultrices lectus ac malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Morbi rutrum at dui vel auctor. Fusce mauris ligula, luctus eget felis sit amet, sodales auctor
    velit. Phasellus vehicula sem leo. Ut sed varius ligula. Morbi condimentum maximus mi sed ullamcorper.

    Sed eu mattis dolor. Donec vel elit ac orci varius sagittis. Aenean sodales nisi at finibus tempor. Cras
    sollicitudin sodales nunc ac feugiat. Pellentesque ut metus eget mauris hendrerit dictum et sed justo. Praesent
    blandit mi tempus luctus convallis. Praesent ullamcorper blandit malesuada.

    Nullam ligula dolor, consectetur eu nunc nec, tempus sagittis justo. Quisque fringilla elementum magna et dictum.
    Mauris in diam id justo ultrices venenatis pulvinar ut magna. Maecenas hendrerit mi ipsum, fringilla sollicitudin
    lacus tristique ut. Donec quis mauris non felis vestibulum pharetra eget quis massa. In vitae laoreet nisi, vitae
    interdum eros. Donec pharetra tristique consequat. Mauris id nunc venenatis nunc hendrerit eleifend sed vel est.
    Donec vestibulum diam eget feugiat condimentum. Morbi vitae fermentum massa. Phasellus placerat volutpat rhoncus.

    Quisque commodo fermentum scelerisque. Integer tincidunt ante quis odio ultrices convallis. Etiam interdum eros vel
    tellus sodales pretium. Donec ligula nisi, ultrices vitae consectetur quis, ultrices mattis velit. Aenean bibendum
    id tellus ut tincidunt. Phasellus laoreet rhoncus erat pulvinar maximus. Fusce et velit ac mi efficitur aliquam.
    Nulla diam mi, scelerisque eu pulvinar in, consectetur rutrum lectus. Donec feugiat consequat lectus ut dictum. Ut
    lobortis, nisl facilisis tincidunt iaculis, arcu eros aliquet ex, eget lacinia quam nibh vel turpis. Nunc pretium
    urna sem, eu luctus nisl fringilla at. Maecenas justo nibh, tempus vel varius a, finibus at quam.

    Nunc eleifend vitae leo nec placerat. Sed tortor augue, ullamcorper volutpat justo eu, commodo mollis mi. Donec
    commodo et risus et iaculis. In arcu orci, molestie sit amet feugiat viverra, fringilla ut diam. Donec consectetur
    dui sapien, id scelerisque nibh auctor vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi
    luctus arcu a posuere pulvinar.

    Sed condimentum lorem quam, id scelerisque velit egestas sit amet. Duis eu fermentum orci, sit amet mattis ligula.
    Quisque hendrerit felis eget consequat imperdiet. Mauris ultricies libero ut nulla malesuada, dignissim placerat
    nisl hendrerit. Vestibulum ultrices, massa quis mattis bibendum, tellus elit consequat ipsum, fermentum dapibus urna
    felis eget orci. Vestibulum finibus turpis sit amet est tempor pellentesque. Suspendisse in erat sit amet ante
    congue pellentesque ut suscipit tellus. Morbi imperdiet sodales justo, et rhoncus eros iaculis eu. Vivamus porta,
    sapien at posuere aliquam, risus ligula dignissim ipsum, et sagittis tortor sapien non sem. Sed nisl magna, semper
    id urna dignissim, vehicula facilisis ipsum. -->
</div>
{% endfor %}
<div class="position-absolute text-justify bottom-0 start-50 translate-middle">
    <a href="/images"><button class="btn btn-dark">Go to images</button></a>
</div>

{% endblock %}